[submodule "third_party/repos/imgui"]
	path = third_party/repos/imgui
	url = https://github.com/Zenoobia/imgui
[submodule "toolchains"]
	path = toolchains
	url = https://github.com/mosra/toolchains
[submodule "third_party/repos/EntityPlus"]
	path = third_party/repos/EntityPlus
	url = https://github.com/Yelnats321/EntityPlus
